<!--
  Generated template for the ListaDeudaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title *ngIf="isCliente">Cuentas x Cobrar</ion-title>
        <ion-title *ngIf="!isCliente">Cuentas x Pagar</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>
    <!--<ion-searchbar></ion-searchbar>-->
    <ion-card class="cardTable" *ngFor="let item of listaData">
        <ion-card-header on-click="item.desplFC=!item.desplFC">
            <ion-item>
                <ion-label>
                    {{item.Nombre}}
                </ion-label>
                <ion-label>
                    <ion-buttons end>
                        $ {{item.Deuda | redondear}}
                    </ion-buttons>
                </ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="item.desplFC">
            <ion-list>
                <ion-item>
                    <ion-label class="TextoJustificado">
                        N° Factura
                    </ion-label>
                    <ion-label class="TextoJustificado">
                        Fecha
                    </ion-label>
                    <ion-label class="alineadoIzq">
                        Monto
                    </ion-label>
                </ion-item>
                <ion-item *ngFor="let elemet of item.lista">
                    <ion-label class="TextoJustificado">
                        {{elemet.IDF}}
                    </ion-label>
                    <ion-label class="TextoJustificado">
                        {{elemet.Fecha | date}}
                    </ion-label>
                    <ion-label class="alineadoIzq">
                        $ {{elemet.Deuda | redondear}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>