<!--
  Generated template for the ListaDeudaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title *ngIf="isCliente">Cuentas x Cobrar</ion-title>
        <ion-title *ngIf="!isCliente">Cuentas x Pagar</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>
    <!--<ion-searchbar></ion-searchbar>-->

    <ion-card class="cardTable" *ngFor="let item of listaData">
        <ion-card-header on-click="item.desplFC=!item.desplFC">
            <ion-row>
                <ion-col col-8>
                    {{item.Nombre}}
                </ion-col>
                <ion-col col-4 class="colNumber">
                    $ {{item.Deuda | redondear}}
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="item.desplFC">
            <ion-grid>
                <ion-row class="titulos">
                    <ion-col col-3>
                        N° Factura
                    </ion-col>
                    <ion-col col-6>
                        Fecha
                    </ion-col>
                    <ion-col col-3 style="text-align: center;">
                        Monto
                    </ion-col>
                </ion-row>
                <ion-row class="datos">
                    <ion-col>
                        <ion-row *ngFor="let elemet of item.lista">
                            <ion-col col-3>
                                {{elemet.IDF}}
                            </ion-col>
                            <ion-col col-6>
                                {{elemet.Fecha | date}}
                            </ion-col>
                            <ion-col col-3 class="colNumber">
                                $ {{elemet.Deuda | redondear}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>