// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.TextoJustificado {
    word-wrap: break-word;
    white-space: normal;
}

.TextoDescripcion {
    font-family: initial;
    font-style: oblique;
    font-size: medium;
}

.TextoNumeros {
    font-weight: bolder;
    font-family: initial;
    font-style: normal;
    font-size: larger;
    text-align: end;
}

.TextoCentrado {
    text-align: center;
}

.cardTable {
    .card-header {
        background-color: aquamarine;
        padding: 5px 15px 0 15px;
        .item {
            background-color: transparent;
            //border-style: ridge;
            padding: 0 0 0 0;
        }
    }
    .card-content {
        padding: 0 15px 5px 15px;
    }
}

.alineadoIzq {
    text-align: end;
}

.alertDialogo {}