page-stock {
    .cardTable {
        .card-header {
            background-color: color($colors, flat-turquoise);
            padding: 10px;
            .row {
                .colNumber {
                    text-align: end;
                    font-weight: bolder;
                }
                .col {}
            }
        }
        .card-content {
            font-size: x-small;
            padding: 0 15px 5px 15px;
            .grid {
                .titulos {
                    text-align: start;
                    border-bottom: 2px solid darkgray;
                    .colNumber {
                        text-align: end;
                        font-weight: bolder;
                    }
                }
                .datos {
                    .col {
                        //padding-bottom: 0px;
                        .row {
                            .col {
                                text-align: start;
                            }
                            .colNumber {
                                text-align: end;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
    .alineadoIzq {
        text-align: end;
    }
}