<!--
  Generated template for the StockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Stock</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card class="cardTable" *ngFor="let item of ltStockGrupo">
        <ion-card-header on-click="item.desplFC=!item.desplFC">
            <ion-item>
                <ion-label>
                    {{item.Grupo}}
                </ion-label>
                <ion-label>
                    <ion-buttons end>
                        Cantidad {{getCantidad(item)}}
                    </ion-buttons>
                </ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="item.desplFC">
            <ion-list *ngFor="let elemet of item.lista">
                <ion-item>
                    <ion-label class="TextoJustificado">
                        {{elemet.Producto}}
                    </ion-label>
                    <ion-label class="alineadoIzq">
                        Stock {{elemet.Stock}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>