<!--
  Generated template for the DashboardGeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>DashBoard</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goSincronizar(true)">
            <img style="height: 100%;" src="../../assets/imgs/update.png" >
          </button>
            <button ion-button icon-only (click)="goConfigurar()">
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header class="titulosCentados">

        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label class="TextoJustificado">
                    Ventas Actuales
                </ion-label>
                <ion-label class="TextoJustificado">
                    $ {{totalVentasUsuarios | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="TextoJustificado">
                    Total Usuario Activos
                </ion-label>
                <ion-label class="TextoJustificado">
                    {{totalUsuarios}}
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card on-click="goDetalleFacturacion()">
        <ion-card-header class="titulosCentados">Facturacion</ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label class="TextoJustificado">
                    Promedio Factura Venta
                </ion-label>
                <ion-label class="TextoJustificado">
                    $ {{totalFV | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="TextoJustificado">
                    Promedio Factura Compra
                </ion-label>
                <ion-label class="TextoJustificado">
                    $ {{totalFC | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-item class="titulosCentados">
                Movimientos de Stock
            </ion-item>
            <ion-item>
                <ion-segment [(ngModel)]="appType">
                    <ion-segment-button value="Minimos" (ionSelect)="selectOp(1)">
                        Minimos
                    </ion-segment-button>
                    <ion-segment-button value="Maximos" (ionSelect)="selectOp(2)">
                        Maximos
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
        </ion-card-header>

        <ion-card-content on-click="goDetalleStock()">
            <ion-item *ngIf="appType=='Minimos'">
                <ion-label class="TextoJustificado">
                    Total de Productos con bajo stock
                </ion-label>
                <ion-label class="TextoJustificado">
                    {{totalStock}}
                </ion-label>
            </ion-item>
            <ion-item *ngIf="appType!='Minimos'">
                <ion-label class="TextoJustificado">
                    Total de Productos con alto stock
                </ion-label>
                <ion-label class="TextoJustificado">
                    {{totalStock}}
                </ion-label>
            </ion-item>
            <ion-item *ngIf="appType=='Minimos'">
                <ion-label class="TextoJustificado">
                    Grupo de Productos con bajo stock
                </ion-label>
                <ion-label class="TextoJustificado">
                    {{GrupoMayorStockBajo.Grupo}}
                </ion-label>
            </ion-item>
            <ion-item *ngIf="appType!='Minimos'">
                <ion-label class="TextoJustificado">
                    Grupo de Productos con alto stock
                </ion-label>
                <ion-label class="TextoJustificado">
                    {{GrupoMayorStockBajo.Grupo}}
                </ion-label>
            </ion-item>
            <ion-item>
                <canvas #CanvasPIE baseChart [data]="StockpieChartData" [labels]="StockpieChartLabels" [colors]="StockchartColor" [chartType]="StockpieChartType" [options]="StockbaseOptions" [legend]="StockchartLegend">
                    </canvas>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header class="titulosCentados">Activos</ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    Factura Venta
                </ion-label>
                <ion-label>
                    $ 5436.67
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Factura Compra
                </ion-label>
                <ion-label>
                    $ 072.32
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>