page-dashboard-general {
    /*
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: unset;
    color: teal;
*/
    .titulosCentados {
        text-align: center;
        font-size: x-large;
        font-family: sans-serif;
        color: teal;
    }
}