<!--
  Generated template for the DashboardGeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goSincronizar(true)">                    
                <ion-icon name="refresh" style="color: white;"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goConfigurar()">
                <ion-icon name="settings" style="color: white;"></ion-icon>
            </button>
        </ion-buttons>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="TituloEscondido">
        <div>
            <h2 style="margin-top: 0px; color: white; padding-top: 30px; margin: 0">
                {{Sucursal.AGENCIA}}
            </h2>
        </div>
    </div>
    <ion-card>
        <ion-card-header STY>
            <ion-item class="titulosCentados TextoJustificado">
                VENTAS DIARIAS
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-segment [(ngModel)]="typeCaja">
                    <ion-segment-button *ngFor="let PV of ltPV " (ionSelect)="selectPV(PV)" value="{{PV}}">
                        {{PV.Nombre}}
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
            <ion-item>
                <ion-label class="TextoJustificado TextoDescripcion">
                    Total de Ventas Diarias
                </ion-label>
                <ion-label class="TextoJustificado TextoNumeros">
                    $ {{totalVentasUsuarios | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="TextoJustificado TextoDescripcion">
                    Ventas de {{selectPunVen.Nombre}}
                </ion-label>
                <ion-label class="TextoJustificado TextoNumeros">
                    $ {{totalVentasPunVenta | redondear}}
                </ion-label>
            </ion-item>
            <ion-item style="max-height: 220px;">
                <canvas #barHoriCaja style="height:20vw;">  </canvas>
            </ion-item>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <ion-card-header class="titulosCentados TextoJustificado">FACTURACION MENSUAL</ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label class="TextoJustificado TextoDescripcion">
                    Promedio Factura Venta
                </ion-label>
                <ion-label class="TextoJustificado TextoNumeros">
                    $ {{totalFV | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="TextoJustificado TextoDescripcion">
                    Promedio Factura Compra
                </ion-label>
                <ion-label class="TextoJustificado TextoNumeros">
                    $ {{totalFC | redondear}}
                </ion-label>
            </ion-item>
            <ion-item>
                <canvas #CanvasFact baseChart>
                </canvas>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-item class="titulosCentados TextoJustificado">
                MOVIMIENTOS DE STOCK
            </ion-item>
            <ion-item>
                <ion-segment [(ngModel)]="appType">
                    <ion-segment-button value="Minimos" (ionSelect)="selectOp(1)">
                        Minimos
                    </ion-segment-button>
                    <ion-segment-button value="Maximos" (ionSelect)="selectOp(2)">
                        Maximos
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col *ngIf="appType=='Minimos'" class="TextoDescripcion TextoJustificado">
                        Total de Productos con bajo stock
                    </ion-col>
                    <ion-col *ngIf="appType!='Minimos'" class="TextoDescripcion TextoJustificado">
                        Total de Productos con alto stock
                    </ion-col>
                    <ion-col class="TextoNumeros">
                        {{totalStock}}
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: 15px;">
                    <ion-col>
                        <canvas #CanvasPIE style="height:80vw;"> </canvas>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header class="titulosCentados TextoJustificado">CTA COBRAR/CTA PAGAR</ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col class="TextoJustificado TextoDescripcion" col-8>
                        Promedio de Pago a Credito:
                    </ion-col>
                    <ion-col class="TextoJustificado TextoNumeros" col-4>
                        {{totalProDiaDeuda | redondearEnteros}} Dias
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="TextoJustificado TextoDescripcion" col-8>
                        Promedio Minino de Pago:
                    </ion-col>
                    <ion-col class="TextoJustificado TextoNumeros" col-4>
                        {{minimoProPago | redondearEnteros}} Dias
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="TextoJustificado TextoDescripcion" col-8>
                        Promedio Maximo de Pago:
                    </ion-col>
                    <ion-col class="TextoJustificado TextoNumeros" col-4>
                        {{maximoProPago | redondearEnteros}} Dias
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <canvas #barHoriDeuda style="height:20vw;"></canvas>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-label style="color: white">
            Ultima Actualizacion: {{FechaIni | date}}
        </ion-label>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-label *ngIf="con.isOnline" style="color: white">
                    Online
                </ion-label>
                <ion-label *ngIf="!con.isOnline" style="color: #ffe600">
                    Offline
                </ion-label>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>